@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #242B33;
  color: #fff;
}

.invisible {
  display: none;
}

a {
  color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  max-width: 1140px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container--small {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.secondary_title {
  font-size: 36px;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
}

.header {
  height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), url("../img/header/header_bg.jpg"), lightgray 50%/cover no-repeat;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../img/header/header_bg.jpg"), lightgray 50%/cover no-repeat;
  padding: 30px 0 74px;
}

.header_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header_title {
  text-align: center;
  font-size: 48px;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
}

.mouse_box {
  text-align: center;
  margin-top: 80px;
}

.header_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 98px;
}

.info {
  font-size: 18px;
  position: relative;
}
.info--map, .info--phone {
  padding-left: 35px;
}
.info--map::before, .info--phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url("../img/header/map.svg");
}
.info--phone::before {
  background-image: url("../img/header/phone.svg");
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
  padding: 120px 0;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.35;
}

.appartments__cards {
  margin-top: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card__item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  z-index: 6;
}
.card__item::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  z-index: 7;
}
.card__item:hover::after {
  opacity: 1;
}
.card__item:hover .card__title {
  color: #D4C17F;
}
.card__item:hover .card__img {
  scale: 1.1;
}

.card__title {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  color: #fff;
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
  z-index: 7;
}

.card__img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 5;
}

.cta__field {
  min-height: 560px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url("../img/cta/cta_bg.jpg"), lightgray 50%/cover no-repeat;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("../img/cta/cta_bg.jpg"), lightgray 50%/cover no-repeat;
  padding: 180px 0;
  position: relative;
}

.cta__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 17px;
}

.cta__text {
  width: 50%;
  line-height: 1.5;
}

.cta__form {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 12px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background: rgba(255, 255, 255, 0.26);
}

.form__privacy {
  font-size: 13px;
  line-height: 1.23;
  color: rgba(231, 231, 231, 0.9333333333);
  text-align: center;
}

.form__btn {
  height: 50px;
  background: #D4C17F;
  padding: 12px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background: #dec775;
}