.feedback {
    margin-bottom: 180px;

    @include mediaTablet {
        margin-bottom: 80px;
    }
}

.feedback__form {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: 1fr;
    }
}