.section_map {
    padding: 180px 0;
    position: relative;

    &::after {
        content: 'V';
        top: 116px;
        left: 0;
        transform: translate(-50%, 0);
        z-index: -2;

        @include decorNumber;
    }
}

.section_map__title {
    margin-bottom: 88px;
}

.map {
    background: #626262;
    height: 358px;
}