@mixin decorNumber {
    position: absolute;
    font-family: $font-accent;
    opacity: 0.02;
    font-size: 400px;

    @include mediaTablet {
        display: none;
    }
}

@mixin mediaTablet {
    @media screen and (width < $desktop) {
        @content;
    }
}